<a href="https://colab.research.google.com/github/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/blob/main/Code/New_Notebook_Blancpain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DMML TEAM BLANCPAIN

##Import some librairies

In [17]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import collections  as mc
%load_ext autoreload
%autoreload 2
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
sns.set_style("white")
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.utils.multiclass import unique_labels
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import string
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import spacy
%matplotlib inline
sns.set_style("dark")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

##Data Importation##

In [2]:
df_train = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/training_data.csv')

df_test = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/test_data.csv')

df_sample = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/sample_submission.csv')

##Data visualization##

###Training set

In [3]:
df_train.head()

      id    keyword  ...                                               text target
0   3738  destroyed  ...  Black Eye 9: A space battle occurred at Star O...      0
1    853  bioterror  ...  #world FedEx no longer to transport bioterror ...      0
2  10540  windstorm  ...  Reality Training: Train falls off elevated tra...      1
3   5988  hazardous  ...  #Taiwan Grace: expect that large rocks trees m...      1
4   6328    hostage  ...  New ISIS Video: ISIS Threatens to Behead Croat...      1

[5 rows x 5 columns]

In [4]:
print("There are {0} rows and {1} columns in the train dataset.".format(df_train.shape[0],df_train.shape[1]))

There are 6471 rows and 5 columns in the train dataset.

###Test Set

In [5]:
df_test.head()

     id  ...                                               text
0  9972  ...  Crptotech tsunami and banks.\n http://t.co/KHz...
1  9865  ...  I'm that traumatised that I can't even spell p...
2  1937  ...  @foxnewsvideo @AIIAmericanGirI @ANHQDC So ... ...
3  3560  ...  Me watching Law &amp; Order (IB: @sauldale305)...
4  2731  ...                  Papi absolutely crushed that ball

[5 rows x 4 columns]

In [6]:
print("There are {0} rows and {1} columns in the test dataset.".format(df_test.shape[0],df_test.shape[1]))

There are 1142 rows and 4 columns in the test dataset.

###Drop Null values

In [7]:
df_train.fillna("Unknown", inplace = True)
df_test.fillna("Unknown", inplace = True)

###Base Rate

In [8]:
base_rate = max(len(df_train[df_train["target"] == 0]) / len(df_train), len(df_train[df_train["target"] == 1]) / len(df_train))
print("The base rate for this problem is :", base_rate)

The base rate for this problem is : 0.5719363313243703

##Processing

In [9]:
df_train["keyword_text"] = df_train['keyword'] + ' ' + df_train['text'] 
df_train["keyword_text"] = df_train["keyword_text"].astype(str)
df_test["keyword_text"] = df_test['keyword'] + ' ' + df_test['text'] 
df_test["keyword_text"] = df_test["keyword_text"].astype(str)

In [10]:
df_train

         id  ...                                       keyword_text
0      3738  ...  destroyed Black Eye 9: A space battle occurred...
1       853  ...  bioterror #world FedEx no longer to transport ...
2     10540  ...  windstorm Reality Training: Train falls off el...
3      5988  ...  hazardous #Taiwan Grace: expect that large roc...
4      6328  ...  hostage New ISIS Video: ISIS Threatens to Behe...
...     ...  ...                                                ...
6466   4377  ...  earthquake #Earthquake #Sismo M 1.9 - 15km E o...
6467   3408  ...  derail @EmiiliexIrwin Totally agree.She is 23 ...
6468   9794  ...  trapped Hollywood Movie About Trapped Miners R...
6469  10344  ...  weapons Friendly reminder that the only countr...
6470   1779  ...  buildings%20on%20fire Buildings are on fire an...

[6471 rows x 6 columns]

In [11]:
df_train_train, df_train_test = train_test_split(df_train, test_size=0.2, random_state = 50)

In [12]:
y_train_train = df_train_train[["target"]]
y_train_test = df_train_test[["target"]]

###With "Keyword" feature

In [13]:
X1_train_train = df_train_train['keyword']
X1_train_test = df_train_test['keyword']

In [25]:
l_reg_CV = LogisticRegressionCV(solver='lbfgs', cv=5, max_iter=1000, random_state=50)
l_reg_CV.fit(X1_train_train, y_train_train)
y_pred = l_reg_CV.predict(X1_train_test)

ValueError: ignored