<a href="https://colab.research.google.com/github/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/blob/main/Code/team_blancpain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DMML TEAM BLANCPAIN

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import collections  as mc
%load_ext autoreload
%autoreload 2
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
sns.set_style("white")

##Data Importation and visualization##

In [2]:
df_train = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/training_data.csv')

df_test = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/test_data.csv')

df_sample = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/sample_submission.csv')

In [3]:
df_train.head(10)

      id  ... target
0   3738  ...      0
1    853  ...      0
2  10540  ...      1
3   5988  ...      1
4   6328  ...      1
5   6669  ...      1
6   9772  ...      0
7  10361  ...      0
8   1953  ...      0
9   9586  ...      1

[10 rows x 5 columns]

In [4]:
print("There are {0} rows and {1} columns in the dataset.".format(df_train.shape[0],df_train.shape[1]))

There are 6471 rows and 5 columns in the dataset.

In [5]:
df_test.head(10)

      id  ...                                               text
0   9972  ...  Crptotech tsunami and banks.\n http://t.co/KHz...
1   9865  ...  I'm that traumatised that I can't even spell p...
2   1937  ...  @foxnewsvideo @AIIAmericanGirI @ANHQDC So ... ...
3   3560  ...  Me watching Law &amp; Order (IB: @sauldale305)...
4   2731  ...                  Papi absolutely crushed that ball
5  10020  ...  Brain twister let drop up telly structuring ca...
6   8676  ...  RT twit_san_diego 'Possible sinkhole disrupts ...
7   3131  ...  Aircraft debris found on island is from MH370 ...
8   2195  ...  'Kessler Syndrome' is the name for the catastr...
9   3484  ...  So a train derailed and instead of me getting ...

[10 rows x 4 columns]

In [6]:
print("There are {0} rows and {1} columns in the dataset.".format(df_test.shape[0],df_test.shape[1]))

There are 1142 rows and 4 columns in the dataset.

In [7]:
df_sample.head(10)

   target
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0

In [8]:
print("There are {0} rows and {1} columns in the dataset.".format(df_sample.shape[0],df_sample.shape[1]))

There are 1142 rows and 1 columns in the dataset.

##EDA

In [87]:
df_train.fillna("Unknown", inplace = True)

In [ ]:
df_train["keyword"].replace(["bush%20fires","forest%20fires","wild%20fires","hellfire","forest%20fire"],"natural_fires", inplace = True)
df_train["keyword"].replace(["suicide%20bomber","suicide%20bombing","suicide%20bomb"],"suicide_bombing", inplace = True)
df_train["keyword"].replace(["building%20fires","buildings%20burning","buildings%20on%20fire","burning%20buildings"],"building_fires", inplace = True)
df_train["keyword"].replace(["blew%20up","blown%20up"],"blew_up", inplace = True)
df_train["keyword"].replace(["structural%20failure"],"structural_failure", inplace = True)
df_train["keyword"].replace(["natural%20disaster"],"natural_disaster", inplace = True)
df_train["keyword"].replace(["body%20bags","body%20bagging","body%20bag"],"body_bags", inplace = True)
df_train["keyword"].replace(["emergency%20services"],"emergency_services", inplace = True)
df_train["keyword"].replace(["dust%20storm"],"dust_storm", inplace = True)
df_train["keyword"].replace(["heat%20wave"],"heat_wave", inplace = True)
df_train["keyword"].replace(["mass%20murder","mass%20murderer"],"mass_murder", inplace = True)
df_train["keyword"].replace(["war%20zone"],"war_zone", inplace = True)
df_train["keyword"].replace(["emergency%20plan"],"emergency_plan", inplace = True)
df_train["keyword"].replace(["nuclear%20reactor","nuclear%20disaster"],"nuclear", inplace = True)
df_train["keyword"].replace(["airplane%20accident"],"airplane_accident", inplace = True)
df_train["keyword"].replace(["chemical%20emergency"],"chemical_emergency", inplace = True)
df_train["keyword"].replace(["radiation%20emergency"],"radiation_emergency", inplace = True)
df_train["keyword"].replace(["oil%20spill"],"oil_spill", inplace = True)
df_train["keyword"].replace(["loud%20bang"],"loud_bang", inplace = True)
df_train["keyword"].replace(["cliff%20fall"],"cliff_fall", inplace = True)
df_train["keyword"].replace(["bridge%20collapse"],"bridge_collapse", inplace = True)
df_train["keyword"].replace(["fire%20truck"],"fire_truck", inplace = True)
df_train["keyword"].replace(["violent%20storm"],"violent_storm", inplace = True)
df_train["keyword"].replace(["first%20responders"],"first_responders", inplace = True)

In [82]:
df_deluge = pd.DataFrame(df_train["keyword"].value_counts())

In [83]:
df_deluge.shape

(208, 1)

In [67]:
df_deluge.sample(50)

                keyword
screaming            32
crashed              29
engulfed             29
devastation          32
obliteration         24
derail               32
bioterrorism         24
fear                 35
bomb                 29
aftershock           32
building_fires       95
mass_murder          52
injury               32
tsunami              25
screamed             30
mayhem               29
hijack               28
nuclear              63
sunk                 34
fire%20truck         27
tornado              28
hijacker             33
ambulance            36
wrecked              32
whirlwind            32
explosion            30
drowned              31
rescued              32
upheaval             32
riot                 26
panic                31
hostages             36
annihilated          27
oil_spill            31
blight               28
outbreak             35
explode              29
wounded              31
casualties           29
snowstorm            22
crash                28
quarantined          31
bombed               29
razed                31
military             29
body_bags            89
windstorm            31
traumatised          28
survived             31
electrocute          28

In [93]:
df_train_pourcentage =df_train[df_train['keyword'].str.contains("%20")]

In [94]:
df_train_pourcentage["keyword"].value_counts()

Series([], Name: keyword, dtype: int64)

In [92]:
df_test["keyword"].replace(["bush%20fires","forest%20fires","wild%20fires","hellfire","forest%20fire"],"natural_fires", inplace = True)
df_test["keyword"].replace(["suicide%20bomber","suicide%20bombing","suicide%20bomb"],"suicide_bombing", inplace = True)
df_test["keyword"].replace(["building%20fires","buildings%20burning","buildings%20on%20fire","burning%20buildings"],"building_fires", inplace = True)
df_test["keyword"].replace(["blew%20up","blown%20up"],"blew_up", inplace = True)
df_test["keyword"].replace(["structural%20failure"],"structural_failure", inplace = True)
df_test["keyword"].replace(["natural%20disaster"],"natural_disaster", inplace = True)
df_test["keyword"].replace(["body%20bags","body%20bagging","body%20bag"],"body_bags", inplace = True)
df_test["keyword"].replace(["emergency%20services"],"emergency_services", inplace = True)
df_test["keyword"].replace(["dust%20storm"],"dust_storm", inplace = True)
df_test["keyword"].replace(["heat%20wave"],"heat_wave", inplace = True)
df_test["keyword"].replace(["mass%20murder","mass%20murderer"],"mass_murder", inplace = True)
df_test["keyword"].replace(["war%20zone"],"war_zone", inplace = True)
df_test["keyword"].replace(["emergency%20plan"],"emergency_plan", inplace = True)
df_test["keyword"].replace(["nuclear%20reactor","nuclear%20disaster"],"nuclear", inplace = True)
df_test["keyword"].replace(["airplane%20accident"],"airplane_accident", inplace = True)
df_test["keyword"].replace(["chemical%20emergency"],"chemical_emergency", inplace = True)
df_test["keyword"].replace(["radiation%20emergency"],"radiation_emergency", inplace = True)
df_test["keyword"].replace(["oil%20spill"],"oil_spill", inplace = True)
df_test["keyword"].replace(["loud%20bang"],"loud_bang", inplace = True)
df_test["keyword"].replace(["cliff%20fall"],"cliff_fall", inplace = True)
df_test["keyword"].replace(["bridge%20collapse"],"bridge_collapse", inplace = True)
df_test["keyword"].replace(["fire%20truck"],"fire_truck", inplace = True)
df_test["keyword"].replace(["violent%20storm"],"violent_storm", inplace = True)
df_test["keyword"].replace(["first%20responders"],"first_responders", inplace = True)

In [95]:
df_test_pourcentage =df_train[df_train['keyword'].str.contains("%20")]

In [96]:
df_test_pourcentage["keyword"].value_counts()

Series([], Name: keyword, dtype: int64)

In [99]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import spacy
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import string
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [101]:
stopwords = spacy.lang.en.stop_words.STOP_WORDS
punctuationmarks = string.punctuation

In [102]:
sp = spacy.load('en_core_web_sm')

def tokenize_function(tweet):
    tokens = sp(tweet)
    tokens = [ i.lemma_.lower().strip() if i.lemma_ != "-PRON-" else i.lower_ for i in tokens ]
    tokens = [ i for i in tokens if i not in stopwords and i not in punctuationmarks ]
    return tokens

In [111]:
X_train = df_train['text']
y_train = df_train['target']
X_test = df_test["text"]

In [112]:
tfidf_feature_vector = TfidfVectorizer(tokenizer=tokenize_function)

In [113]:
l_reg = LogisticRegression(solver="lbfgs", max_iter=1000, random_state = 72)

In [114]:
pipe = Pipeline([('vectorizer', tfidf_feature_vector),
                 ('classifier', l_reg)])

In [116]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_patt...
                                 tokenizer=<function tokenize_function at 0x7f929ab53400>,
                                 use_idf=True, vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=72,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [117]:
sentiment_pred = pipe.predict(X_test)

In [118]:
train_accuracy_score = accuracy_score(y_train, pipe.predict(X_train))
print("The training accuracy is", train_accuracy_score)

The training accuracy is 0.8882707464070468