<a href="https://colab.research.google.com/github/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/blob/main/Updated__New_Notebook_Blancpain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DMML TEAM BLANCPAIN

##Import some librairies

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import collections  as mc
%load_ext autoreload
%autoreload 2
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
sns.set_style("white")
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.utils.multiclass import unique_labels
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import string
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
import spacy
from gensim.models import Word2Vec

%matplotlib inline
sns.set_style("dark")

# Hide warnings
import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

##Data Importation##

In [ ]:
df_train = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/training_data.csv')

df_test = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/test_data.csv')

df_sample = pd.read_csv('https://raw.githubusercontent.com/sfrancey/Real-or-Not-NLP-with-Disaster-Tweets_Team_Blancpain/main/Data/sample_submission.csv')

##Data visualization##

###Training set

In [ ]:
df_train

         id  ... target
0      3738  ...      0
1       853  ...      0
2     10540  ...      1
3      5988  ...      1
4      6328  ...      1
...     ...  ...    ...
6466   4377  ...      1
6467   3408  ...      0
6468   9794  ...      1
6469  10344  ...      1
6470   1779  ...      1

[6471 rows x 5 columns]

In [ ]:
print("There are {0} rows and {1} columns in the train dataset.".format(df_train.shape[0],df_train.shape[1]))

There are 6471 rows and 5 columns in the train dataset.

###Test Set

In [ ]:
df_test

         id  ...                                               text
0      9972  ...  Crptotech tsunami and banks.\n http://t.co/KHz...
1      9865  ...  I'm that traumatised that I can't even spell p...
2      1937  ...  @foxnewsvideo @AIIAmericanGirI @ANHQDC So ... ...
3      3560  ...  Me watching Law &amp; Order (IB: @sauldale305)...
4      2731  ...                  Papi absolutely crushed that ball
...     ...  ...                                                ...
1137   3497  ...  @ItsQueenBaby I'm at work it's a bunch of ppl ...
1138   9191  ...  #?? #?? #??? #??? Suicide bomber kills 15 in S...
1139  10217  ...  Eruption of Indonesian volcano sparks transpor...
1140   5308  ...  Never let fear get in the way of achieving you...
1141   8044  ...  wowo--=== 12000 Nigerian refugees repatriated ...

[1142 rows x 4 columns]

In [ ]:
print("There are {0} rows and {1} columns in the test dataset.".format(df_test.shape[0],df_test.shape[1]))

There are 1142 rows and 4 columns in the test dataset.

In [ ]:
df_sample.head()

   target
0       0
1       0
2       0
3       0
4       0

###Drop Null values

In [ ]:
df_train.fillna("Unknown", inplace = True)
df_test.fillna("Unknown", inplace = True)

###Base Rate

In [ ]:
base_rate = max(len(df_train[df_train["target"] == 0]) / len(df_train), len(df_train[df_train["target"] == 1]) / len(df_train))
print("The base rate for this problem is :", base_rate)

The base rate for this problem is : 0.5719363313243703

##Processing

In [ ]:
df_train["keyword_text"] = df_train['keyword'] + ' ' + df_train['text'] 
df_train["keyword_text"] = df_train["keyword_text"].astype(str)
df_test["keyword_text"] = df_test['keyword'] + ' ' + df_test['text'] 
df_test["keyword_text"] = df_test["keyword_text"].astype(str)

In [ ]:
df_train.head()

      id    keyword  ... target                                       keyword_text
0   3738  destroyed  ...      0  destroyed Black Eye 9: A space battle occurred...
1    853  bioterror  ...      0  bioterror #world FedEx no longer to transport ...
2  10540  windstorm  ...      1  windstorm Reality Training: Train falls off el...
3   5988  hazardous  ...      1  hazardous #Taiwan Grace: expect that large roc...
4   6328    hostage  ...      1  hostage New ISIS Video: ISIS Threatens to Behe...

[5 rows x 6 columns]

# Processing function

In [ ]:
# Load English language model
sp = spacy.load('en_core_web_sm')

# Create a list of punctuation marks
punctuations = string.punctuation

# Create a list of stopwords
stop_words = spacy.lang.en.stop_words.STOP_WORDS

def tokenize_function(text):
    # Create token object, which is used to create documents with linguistic annotations.
    sp_obj = sp(text)

    # Lemmatize each token and convert each token into lowercase
    mytokens = [ word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in sp_obj ]

    # Remove stop words and punctuation
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]
    
    return mytokens

In [ ]:
tokenize_function("j'aime le machine learning788")

["j'aime", 'le', 'machine', 'learning788']

# Create ngrams on text feature

In [ ]:
from nltk.util import ngrams
import collections

corpus = []
for text in [list(df_train['text']), list(df_test['text'])]:
  for string in text:
    corpus.extend(tokenize_function(string))

In [ ]:
collections.Counter(ngrams(corpus, 1)).most_common(30)

[(('...',), 944),
 (('like',), 394),
 (('fire',), 347),
 (('amp',), 298),
 (('new',), 226),
 (('people',), 198),
 (('news',), 191),
 (('kill',), 176),
 (('video',), 174),
 (('burn',), 167),
 (('2',), 167),
 (('crash',), 162),
 (('emergency',), 159),
 (('disaster',), 158),
 (('come',), 158),
 (('body',), 154),
 (('good',), 153),
 (('attack',), 152),
 (('bomb',), 150),
 (('year',), 147),
 (('look',), 145),
 (('day',), 143),
 (('police',), 142),
 (('man',), 141),
 (('time',), 140),
 (('know',), 138),
 (('home',), 138),
 (('family',), 129),
 (('think',), 129),
 (('storm',), 128)]

In [ ]:
Bigrams = ngrams(corpus, 2)

# get the frequency of each bigram in our corpus
esBigramFreq = collections.Counter(Bigrams)

# what are the ten most popular ngrams in this Spanish corpus?
esBigramFreq.most_common(30)

[(('suicide', 'bomber'), 60),
 (('body', 'bag'), 58),
 (('look', 'like'), 55),
 (('burn', 'building'), 54),
 (('northern', 'california'), 42),
 (('like', '@youtube'), 41),
 (('@youtube', 'video'), 41),
 (('cross', 'body'), 40),
 (('oil', 'spill'), 39),
 (('california', 'wildfire'), 36),
 (('suicide', 'bombing'), 33),
 (('mass', 'murder'), 33),
 (('70', 'year'), 31),
 (('mass', 'murderer'), 31),
 (('bomber', 'detonate'), 31),
 (('natural', 'disaster'), 31),
 (('prebreak', 'good'), 30),
 (('feel', 'like'), 30),
 (('heat', 'wave'), 30),
 (('home', 'raze'), 29),
 (('confirm', 'mh370'), 29),
 (('detonate', 'bomb'), 29),
 (('late', 'home'), 28),
 (('raze', 'northern'), 28),
 (('16yr', 'old'), 28),
 (('pkk', 'suicide'), 28),
 (('severe', 'thunderstorm'), 27),
 (('obama', 'declare'), 27),
 (('rescuer', 'search'), 27),
 (('old', 'pkk'), 27)]

In [ ]:
import gensim.downloader
import multiprocessing

def eval_pipeline(df_train, df_test, tokenize_function, target_col='keyword', feature_engineering='tfidf'):
  ''' Eval pipeline '''

  # Make copies to avoid any changes in the main datasets
  train = df_train.copy()
  test = df_test.copy()

  # Define the model
  model = LogisticRegression(solver='lbfgs', #LogisticRegressionCV
                               #cv=2, 
                               max_iter=1000, 
                               random_state=50)

  # Define embeddings and model
  if feature_engineering == 'tfidf':
    feature_vector = TfidfVectorizer(tokenizer=tokenize_function)
    model = Pipeline([('vectorizer', feature_vector), 
                   ('classifier', model)])
  
  elif feature_engineering == 'w2v':

    # Function that uses w2v embeddings and compute the mean value of all the of w2v vectors of all the words
    def document_vector(doc):
      """Create document vectors by averaging word vectors. Remove out-of-vocabulary words."""
      tokens = tokenize_function(doc)
      doc = [word for word in tokens if word in feature_vector.wv.vocab]
      return np.mean(feature_vector[doc], axis=0)

    # Create corpus for w2v
    sentences = []
    for text in [list(train[target_col]), list(test[target_col])]:
      for string in text:
        sentences.append(tokenize_function(string))

    # Create w2v embeddings
    feature_vector = gensim.models.Word2Vec(sentences, 
                                            size=100, 
                                            window=10, 
                                            min_count=1, 
                                            iter=20,
                                            seed=50,
                                            workers=multiprocessing.cpu_count()
                                            )

    train[target_col] = train[target_col].apply(document_vector)
    test[target_col] = test[target_col].apply(document_vector)
  
  # Split dataset
  df_train_eval, df_validation = train_test_split(train, test_size=0.2, random_state = 50)

  y_train_eval = df_train_eval[["target"]]
  y_validation = df_validation[["target"]]

  X1_train_eval = list(df_train_eval[target_col])
  X1_validation = list(df_validation[target_col])

  # Fit data
  model.fit(X1_train_eval, y_train_eval)

  # Eval data
  train_accuracy_score = accuracy_score(y_train_eval, model.predict(X1_train_eval))
  print(f"The training accuracy is : {train_accuracy_score}")

  validation_accuracy_score = accuracy_score(y_validation, model.predict(X1_validation))
  print(f"The validation accuracy is : {validation_accuracy_score}")

  # Retrain on the full dataset
  y_train = train[["target"]]
  X1_train = list(train[target_col])
  X1_test = list(test[target_col])

  # Create submission file
  model.fit(X1_train, y_train)
  submission = pd.DataFrame(model.predict(X1_test), columns=["target"])
  submission.to_csv(f'submission_{target_col}_{feature_engineering}_model_LogisticRegressionCV2_test2.csv', index=False)

###With "Keyword" feature

In [ ]:
eval_pipeline(df_train, df_test, tokenize_function, target_col='keyword', feature_engineering='tfidf')
#eval_pipeline(df_train, df_test, tokenize_function, target_col='keyword', feature_engineering='w2v')

The training accuracy is : 0.7436244204018547
The validation accuracy is : 0.6988416988416989

###With "Text" Feature

In [ ]:
eval_pipeline(df_train, df_test, tokenize_function, target_col='text', feature_engineering='tfidf')
#eval_pipeline(df_train, df_test, tokenize_function, target_col='text', feature_engineering='w2v')

The training accuracy is : 0.8858191653786708
The validation accuracy is : 0.803088803088803

###With "Text" and "Keyword" features

In [ ]:
eval_pipeline(df_train, df_test, tokenize_function, target_col='keyword_text', feature_engineering='tfidf')
#eval_pipeline(df_train, df_test, tokenize_function, target_col='keyword_text', feature_engineering='w2v')

The training accuracy is : 0.9290958268933539
The validation accuracy is : 0.7814671814671814